<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Namaste, <%= @user.name %></h1>
    <p>
      Congratulations on visiting us  ,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
